body{
    margin: 50px;
    height: calc(100% - 40px);
    background-color: burlywood;
}

div{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   border: solid 5px darkcyan;
   background: #fff;
}

body{
    display: grid;
   height: 500px;

}

